article{
    background-color: #ffffff ;
    margin-top: 10%;
    color: rgb(255, 255, 255);
    float: center;
  padding: 100px;
  width: 100%;

}





body{

  background-image: url(https://i.ibb.co/1XZpSHH/3955269.jpg);




}

.profile-container {
  margin: 30px auto; 
  width:60%; 
  border: 1px solid #444;
  display: flex;
  padding: 20px; 
}


a{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  color: black;
  background-color:transparent;
  text-decoration: none;
}

a:hover {
  color: white;

}

li{
  text-align: center;
  
}









    