body{

  background-image: url(https://i.ibb.co/1XZpSHH/3955269.jpg );

}


.mb-3{
  width: 50%;
  margin-left: 25%;
}

h1{
  background-color: #2a3944;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}










    