

article{
    background-color: #2a3944 ;
    margin-top: 2%;
    color: white;
    float: center;
  padding: 10px;
  width: 100%;




}
body{
    background-image: url(https://i.ibb.co/1XZpSHH/3955269.jpg);
}

