img{
    width: 500px;
    float: left;
    margin-left: 20px;
    
    margin-top: 50px;
}

body{
    background-image: url(https://wallpapercave.com/wp/wp2868078.jpg);
}

a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    color: black;
    background-color:transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  
  }