
body{
    background-image: url(https://i.ibb.co/1XZpSHH/3955269.jpg);
}

/*registros*/
a
{box-sizing:border-box;}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}


form input[type="text"],
form input[type="email"]{
	width:300px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form{
	width:900px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}







  
  