body{
    background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1305/Black-cat-green-eyes-black-background_1920x1080.jpg);
}

div#perritos{
    margin-top: 2%;
    color: white;
    float: center;
  padding: 10px;
  width: 100%;
}

div#gatitos{
  margin-top: 2%;
  color: white;
  float: center;
padding: 10px;
width: 100%;
}


